/* Main Container */
.success-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #e6f4ff;
}

/* Summary Box */
.summary-box-payment1 {
  width: 28%;
  height: 55vh;
  margin-top: 0px;
  background: #cceeff;
  padding: 20px;
  margin-bottom: 100px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  justify-content: center;
  display: flex;
  flex-direction: column;
}

/* Ad Slot Summary */
.summary-card {
  height: 20vh;
  border: 2px solid #0c2d48;
  border-radius: 10px;
  padding: 10px;
  background: #d6ebff;
  justify-content: space-around;
}
.summary-card h3{
  padding: 15px;
  border-bottom: 1px solid #ccc; /* Adjust thickness and color as needed */
  border-top: 1px solid #ccc; /* Adjust thickness and color as needed */

}
p{
  padding: 6px;
}
.summary-details {
  margin-top: 30px;
  padding-bottom: 30px;
}

.total-amount {
  font-weight: bold;
  font-size: 18px;
  
}

/* Success Box */
.success-box {
  display: flex;
  background: white;
  padding: 75px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 60vh;
  width: 100%;
  max-width: 1200px;
  justify-content: space-between;
}

/* Left Section - Success Message */
.success-message {
  text-align: center;
  width: 50%;
}

.success-icon {
  font-size: 50px;
  background: #e0f8e0;
  border-radius: 50%;
  padding: 20px;
  display: inline-block;
  margin-bottom: 10px;
}

h2 {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}

p {
  font-size: 16px;
  color: #555;
  }

.btn {
  display: block;
  width: 80%;
  padding: 10px;
  margin: 10px auto;
  border: none;
  background: #002e4d;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background: #ffcc00;
}

/* Right Section - Booking Details */
.booking-details {
  width: 45%;
}

.booking-card {
  background: #cceeff;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid black;
  position: relative;
  height: 100%;
}

h3 {
  margin-bottom: 10px;
}

.price {
  font-weight: bold;
  text-align: right;
}

.booking-fee {
  text-align: right;
  font-size: 14px;
  color: #333;
}

.paid-text {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  margin-top: 10px;
  border-bottom: 1px solid #ccc; /* Adjust thickness and color as needed */
  border-top: 1px solid #ccc; /* Adjust thickness and color as needed */}


